#logo{
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    }
    .gradient-custom {
    
        background: linear-gradient(to right, rgb(164, 109, 50), rgb(226, 210, 215));
      }
      .navbar{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
       
      }
      .nav-item{
        margin-left: 30cm;
        font-size: larger;
      }
      #blog{
        margin-top: 20px;
      }