.table{
    background-color:lightgoldenrodyellow; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: smaller;
    width: 39.5cm;
    margin-bottom: 0;
}
.container{
    width: 70cm;
    margin-left: 0;
    margin-right: 0;
}